@import '../../sass/config';
@import '../../sass/utilities';
@import '../../sass/functions';

.Surveys {
  width: 90vw;
  height: get-content-height(100vh);
  text-align: center;
  margin: auto;
  font-family: $main-font;
  display: flex;
  justify-content: center;
}

.NoSurveysBg {
  background-size: 100%;
  background: url("../../assets/noCredits.png") no-repeat fixed center;
}

.NoBg {
  background: none;
}

.CenterText {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-size: 4rem;
    padding-bottom: 4rem;
  }
}

.CreateQuiz {
  width: 80vw;
  height: 80vh;

  h1 {
    padding: 2rem 0 1rem;
    font-size: 3rem;
  }

  h3 {
    padding: 2rem;
  }

  img {
    width: 50%;
    height: 30%;
  }
}

.SurveyCards {
  width: 100%;

  .SurveyCardsHeader {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }

  .Wrapper {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .Surveys {
    width: 80vw;
    height: 60vh;
  }

  .CreateQuiz {
    width: 100vw;
    height: 60vh;

    h1 {
      padding: 1rem;
      font-size: 2rem;
    }

    h3 {
      padding: 1rem 1rem 1.5rem;
    }

    img {
      padding-top: 1rem;
      width: 90%;
      height: 70%;
    }
  }
}