@import '../../../sass/config';
@import '../../../sass/utilities';
@import '../../../sass/functions';

.Wrapper {
  font-family: $secondary-font;
  background: white url('../../../assets/formQuizClouds.png') no-repeat center center/cover;
  display: flex;
  justify-content: center;
  height: 90%;

  h3 {
    padding-top: 1rem;
    padding-left: 1rem;
  }

  .Controls {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
}

.SurveyForm {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem 1rem;
  width: 50vw;

  .InputGroup {
    width: 100%;

    label {
      display: block;
      padding: .5rem;
    }

    div {
      width: 100%;
      border-radius: 5px;
      box-shadow: 1px 1px 5px #333;
      background-color: $main-light-color;
      padding: 1rem;
    }
  }
}

.SentSurvey {
  background: white url('../../../assets/sendSurvey.png') no-repeat center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 23rem;
  text-align: center;

  h2 {
    padding: 2rem;
  }

  button {
    margin: 2rem 2.5rem;
  }
}

/* Landscape */
@media(max-width: 900px) and (max-height: 500px){
  .Wrapper {
    height: auto;
    padding-bottom: 1rem;
    margin-bottom: 4rem;
  }

  .SentSurvey {
    height: 15rem;
  }
}

@media (max-width: 500px) {
  .Wrapper {
    margin-bottom: 5rem;
    .Controls {
      display: flex;
      justify-content: space-between;
      padding: 1rem;
    }
  }
  .SurveyForm {
    padding: 1rem;
    width: 90vw;
  }
  .SentSurvey {
    height: 18rem;

    button {
      margin: .7rem;
    }
  }
}