@import '../../../sass/config';
@import '../../../sass/utilities';
@import '../../../sass/functions';

.Wrapper {
  font-family: $secondary-font;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: white url('../../../assets/formQuizClouds.png') no-repeat center center/cover;
  height: 90%;

  .Controls {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
  }
}

.SurveyForm {
  display: flex;
  flex-direction: column;
  padding: 3rem 1rem 1rem;
  width: 50vw;

  .InputGroup {
    width: 100%;

    label {
      display: block;
      padding: .5rem;
      font-weight: bold;
    }

    input {
      width: 100%;
      padding: 0.5rem;
      border-radius: 5px;
      border: 2px solid #333;
    }

    textarea {
      height: 5rem;
    }
  }
}

.RedText {
  color: red;
  margin-bottom: 1rem;
}

/* Landscape */
@media(max-width: 900px) and (max-height: 500px){
  .Wrapper {
    height: auto;
    margin-bottom: 4rem;
    padding-bottom: 2rem;
  }
}

@media (max-width: 500px) {
  .Wrapper {
    height: auto;
    margin-bottom: 4rem;

    .Controls {
      display: flex;
      justify-content: space-between;
      padding-bottom: 1rem;
    }
  }
  .SurveyForm {
    padding: 1rem;
    width: 90vw;
  }
}

/* height phones */
@media (max-width: 500px) and (max-height: 900px) {
  .Wrapper {
    height: 90%;
  }
}