@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Mulish&display=swap');

/* Basic things */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    line-height: 1.4;
}
 
a {
    text-decoration: none;
}

button {
    border: none;
}

ul {
    list-style: none;
}