$website-width: 1200px;

$main-color: #364A90;
$main-dark-color: #2A3A71;
$main-light-color: #EEF2FF;
$main-red-color: #B41F41;

$light-color: #f4f4f4;
$dark-color: #333;
$red-color: #B41F41;
$yellow-color: #FFB54A;
$green-color: #378944;

$main-font: 'Merriweather', serif;
$secondary-font: 'Mulish', sans-serif;

$header-height: 10vh;
$small-header-height: 3vh;
$footer-height: 8vh;
$small-footer-height: 2vh;

$logo: url('../assets/logo.svg');