/* Basic things */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    line-height: 1.4;
    overflow-y: hidden;
}
 
a {
    text-decoration: none;
}

button {
    border: none;
}

ul {
    list-style: none;
}


@media (max-width: 500px) {
    body {
        line-height: 1.4;
        overflow-y: auto;
    }
}
