/* Basic things */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html, body {
    line-height: 1.4;
    height: 100%;
}
 
a {
    text-decoration: none;
}

button {
    border: none;
}

ul {
    list-style: none;
}

#root {
    height: 100%;
}


@media (max-width: 500px) {
    body {
        line-height: 1.4;
    }
}
