@import './config';
@import './functions';

.main_bg {
    background-color: $main-color;
}

%btn-shared {
    display: inline-block;
    padding: .8rem 2rem;
    transition: background-color .5s;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn {
    &_main {
        @extend %btn-shared;
        background-color: $main-color;
        color: set-contract-color($main-color);
    }

    &_red {
        @extend %btn-shared;
        background-color: $main-red-color;
        color: set-contract-color($main-red-color);

        &:hover {
            background-color: $red-color;
        }
    }

    &_dark {
        @extend %btn-shared;
        color: set-contract-color($dark-color);
        padding: .7rem 1.8rem;

        &:hover {
            background-color: $main-dark-color;
        }
    }

    &_grey {
        @extend %btn-shared;
        color: set-contract-color($light-color);
        border: $dark-color 1px solid;

        &:hover {
            background-color: $main-dark-color;
            color: set-contract-color($dark-color);
        }
    }

    &_diabled {
        @extend %btn-shared;
        color: white;
        background-color: #7f7f7f;
    }
}

.m {
    &-1 {
        margin: 1rem;
    }

    &-2 {
        margin: 2rem;
    }

    &-3 {
        margin: 3rem;
    }
}

.p {
    &_1 {
        padding: 1rem;
    }

    &_2 {
        padding: 2rem;
    }

    &_3 {
        padding: 3rem;
    }
}