@import '../../sass/config';

.Footer {
  background: $main-color;
  color: $light-color;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $secondary-font;
  font-size: larger;
  font-weight: bold;
  height: 4rem;
  margin-top: -4rem;
}

/* Landscape */
@media(max-width: 700px) and (max-height: 400px){
  .Footer {
    margin-top: 0;
  }
}

/* Smartphones */
@media(max-width: 500px) {
  .Footer {
    font-size: 1rem;
  }
}