@import '../../sass/config';
@import '../../sass/utilities';

.Header {
  width: 100%;
  background-color: $main-color;
  font-family: $secondary-font;
  color: $light-color;

  .Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
      position: relative;
      top: 5px;
    }

    .Logo {
      width: 15rem;
      height: $header-height;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

/* Smartphones */
@media(max-width: 500px) {
  .Header {
    display: flex;
    justify-content: space-between;

    .Navbar {
      div {
        height: 4rem;

        .Logo {
          padding: 0;

          img {
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }
}