@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Mulish&display=swap");
/* Basic things */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  line-height: 1.4; }

a {
  text-decoration: none; }

button {
  border: none; }

ul {
  list-style: none; }

.main-bg {
  background-color: #364A90; }

.btn-main, .btn-red, .btn-dark {
  display: inline-block;
  padding: .8rem 2rem;
  transition: background-color .5s;
  border: none;
  cursor: pointer;
  border-radius: 5px; }

.btn-main {
  background-color: #364A90;
  color: #f4f4f4; }

.btn-red {
  background-color: #B41F41;
  color: #f4f4f4; }

.btn-dark {
  background-color: #333;
  color: #f4f4f4; }

.Header {
  width: 100%;
  background-color: #364A90;
  font-family: 'Mulish', sans-serif;
  color: #f4f4f4; }
  .Header .Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .Header .Navbar .Logo {
      width: 10rem;
      height: 5rem; }
      .Header .Navbar .Logo img {
        width: 100%;
        height: 100%; }
    .Header .Navbar .NavItems {
      display: flex; }
      .Header .Navbar .NavItems li {
        padding: 1rem 1rem 1rem 0;
        display: flex;
        align-items: center; }
        .Header .Navbar .NavItems li img {
          padding-left: 1rem; }

.Content {
  font-family: 'Merriweather', serif; }
