@import '../../../sass/config';
@import '../../../sass/utilities';

.NavItems {
  display: flex;
  padding-right: 2rem;

  li {
    padding: 1rem 1rem 1rem 0;
    display: flex;
    align-items: center;

    img {
      padding-left: 1rem;
    }
  }
}

/* Just to prevent hiding */
.InSideMenu {

}

/* Smartphones */
@media(max-width: 500px) {
  .NavItems:not(.InSideMenu) {
    display: none;
  }

  .NavItems.InSideMenu {
    position: relative;
    top: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: 0;

    li {
      padding: .5rem;
      display: block;
      align-items: center;

      span {
        color: $dark-color;
      }

      a, button {
        min-width: 9rem;
        text-align: center;
      }

      img {
        display: none;
      }
    }

    li:first-child {
      span {
        display: block;
      }
    }
  }
}