<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Easy to create email quiz application">
  <meta name="keywords" content="email quiz, quiz, email">
  <link rel="stylesheet" href="./css/index.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
        integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  <title>Quick quiz</title>
</head>
<body>
<header class="Header">
  <nav class="Navbar">
    <div class="Logo">
      <img src="./assets/logo.svg" alt="Logo">
    </div>
    <ul class="NavItems">
      <li><span>Hi User, you have credits 0</span><img src="./assets/user_icon.svg" alt="user_icon"/></li>
      <li><button class="btn-red">Login</button></li>
    </ul>
  </nav>
</header>
<main class="Content">
  <section class="Greeting">
    <div>Create your quiz with fast response</div>
    <img src="./assets/img.jpg" alt="Greeting picture">
  </section>
  <section class="Steps">
    <div>For start you need do 4 easy steps:</div>
    <div class="Step-left-aside">
      <div class="circle-red"></div>
      <i class="far fa-id-badge fa-3x"></i>
      <h3>Step 1</h3>
      <hr>
      <span>Login with Google account</span>
    </div>
    <div class="Step-right-aside">
      <div class="circle-yellow"></div>
      <i class="far fa-id-badge fa-3x"></i>
      <h3>Step 2</h3>
      <hr>
      <span>Add credit</span>
    </div>
    <div class="Step-left-aside">
      <div class="circle-yellow"></div>
      <i class="far fa-id-badge fa-3x"></i>
      <h3>Step 3</h3>
      <hr>
      <span>Create quiz</span>
    </div>
    <div class="Step-right-aside">
      <div class="circle-yellow"></div>
      <i class="far fa-id-badge fa-3x"></i>
      <h3>Step 4</h3>
      <hr>
      <span>Collect the result</span>
    </div>
  </section>
</main>
<footer class="Footer">
  <p>Copyright &copy; 2020. All Rights Reserved</p>
</footer>
</body>
</html>