<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Easy to create email quiz application">
  <meta name="keywords" content="email quiz, quiz, email">
  <link rel="stylesheet" href="./css/index.css">
  <title>Quick quiz</title>
</head>
<body>
<header class="Header">
  <nav class="Navbar">
    <div class="Logo">
      <img src="./assets/QuickQuiz.svg" alt="Logo">
    </div>
    <ul class="NavItems">
      <li><span>Hi User, you have credits 0</span><img src="./assets/user_icon.svg" alt="user_icon"/></li>
      <li>
        <button class="btn-red">Login</button>
      </li>
    </ul>
  </nav>
</header>
<main class="Content">
  <section class="Greeting">
    <h1>Create your quiz with fast response</h1>
    <img src="./assets/greeting.png" alt="Greeting picture">
    <button class="btn-red m-1">Login</button>
  </section>
  <section class="Steps">
    <h3 class="Step-explanation">For start you need do 4 easy steps:</h3>
    <div class="Step-left-aside">
      <div class="circle-red"></div>
      <img src="./assets/steps/step1.svg" alt="step1">
      <div class="step-desc">
        <div>
          <h3>Step 1</h3>
          <div class="line"></div>
        </div>
        <span>Login with Google account</span>
      </div>
    </div>
    <div class="Step-right-aside">
      <div class="circle-yellow"></div>
      <img src="./assets/steps/step2.svg" alt="step1">
      <div class="step-desc">
        <div>
          <h3>Step 2</h3>
          <div class="line"></div>
        </div>
        <span>Add credit</span>
      </div>
    </div>
    <div class="Step-left-aside">
      <div class="circle-green"></div>
      <img src="./assets/steps/step3.svg" alt="step1">
      <div class="step-desc">
        <div>
          <h3>Step 3</h3>
          <div class="line"></div>
        </div>
        <span>Create quiz</span>
      </div>
    </div>
    <div class="Step-right-aside">
      <div class="circle-blue"></div>
      <img src="./assets/steps/step4.svg" alt="step1">
      <div class="step-desc">
        <div>
          <h3>Step 4</h3>
          <div class="line"></div>
        </div>
        <span>Collect the result</span>
      </div>
    </div>
  </section>
</main>
<footer class="Footer">
  <p>Copyright &copy; 2020. All Rights Reserved</p>
</footer>
</body>
</html>