<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Easy to create email quiz application">
  <meta name="keywords" content="email quiz, quiz, email">
  <link rel="stylesheet" href="./css/index.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
  integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  <title>Quick quiz</title>
</head>
<body>
  <header class="Header">
    <nav class="navbar">
      <section class="logo">
        <img src="./assets/img.jpg" alt="Logo">
      </section>
      <section>
        Hi User <i class="far fa-id-badge fa-3x"></i>, you have credits
      </section>
      <button>Logout</button>
    </nav>
  </header>
  <main class="Content">
    <section class="Greating">
      <div>Create your quiz with fast response</div>
      <img src="./assets/img.jpg" alt="Greeting picture">
    </section>
    <section class="Steps">
      <div>For start you need do 4 easy steps:</div>
      <div class="Step-left-aside">
        <div class="circle-red"></div>
        <i class="far fa-id-badge fa-3x"></i>
        
      </div>
    </section>
  </main>
  <footer class="Footer">

  </footer>
</body>
</html>