@import '../../../sass/config';
@import '../../../sass/utilities';
@import '../../../sass/functions';

.SurveyCard {
  font-family: $secondary-font;
  background-color: $main-light-color;
  margin: .5rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 5px #333;

  span {
    font-weight: bold;
  }

  .CardContent {
    display: flex;
    padding: 2rem;
    justify-content: space-between;

    P:first-child {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .CardActions {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    align-items: center;
    flex-wrap:wrap;

    p {
      display: inline;
      padding-left: 2rem;
    }

    button {
      margin: 0 2rem;
    }
  }
}

.Dropdown {
  flex: 0 0 100%;
  position: relative;

  ul {
    top: .2rem;
    right: 1rem;
    position: absolute;
    background-color: $main-light-color;
    border-radius: 1rem;
    box-shadow: 1px 1px 5px #333;
    width: 10rem;

    li:first-child button {
      border-radius: 1rem 1rem 0 0;
    }
    li:first-child button:hover {
      color: $main-light-color;
      background-color: $main-color;
    }
    li:last-child button {
      border-radius: 0 0 1rem 1rem;
    }
    li:last-child button:hover {
      color: $main-light-color;
      background-color: $red-color;
    }

    li {
      button {
        margin: 0 !important;
        width: 100%;
        padding: 1rem;
        font-family: $secondary-font;
        font-size: large;
        color: $dark-color;
      }
    }
  }
}

@media (max-width: 500px) {
  .SurveyCard {
    .CardContent {
      display: flex;
      flex-direction: column;

      p:first-child {
        padding-bottom: 1rem;
      }
    }
    .CardActions {
      div {
        display: flex;
        flex-direction: column;
      }

      p {
        display: inline;
        padding-left: 1rem;
      }

      button {
        margin: 0 2rem;
        align-self: center;
      }
    }
  }
}